{% extends "base.html" %}

{% block head_title %}category{% endblock %}

{% block content %}
  <h2>Category</h2>
  <ul>
    {% for object in objects %}
    <li>
      <div class="object">
        <h2>{{ object.name }}</h2>
        <img src="https://graph.facebook.com/{{ object.id }}/picture"/>
        {% if object.gender %}
        gender : {{ object.gender.name }}
        {% endif %}
        {% if object.hometown %}
        hometown : {{ object.hometown.name }}
        {% endif %}
        {% if object.category %}
        category : {{ object.category }}
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
  <div id="features" class="top_items">
    <h3>Top Features</h3>
    <ul>
      {% for verb,concept,weight in topFea %}
      <li>
        {{ verb }}
        <a href="/p/{{ concept.id }}">{{ concept.name }}</a>
        | {{ weight }}
      </li>
      {% endfor %}
    </ul>
  </div>
  <div id="similarities" class="top_items">
    <h3>Top Similarities</h3>
    <ul>
      {% for concept,weight in topSim %}
      <li>
        <a href="/p/{{ concept.id }}">{{ concept.name }}</a>
        | {{ weight }}
      </li>
      {% endfor %}
    </ul>
  </div>
  <div id="predictions" class="top_items">
    <h3>Top Predictions</h3>
    <ul>
      {% for verb,concept,weight in topPre %}
      <li>
        {{ verb }}
        <a href="/p/{{ concept.id }}">{{ concept.name }}</a>
        | {{ weight }}
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
