{% extends "base.html" %}

{% block head_title %}{{ profile1.name }} projected onto {{ profile2.name }}{% endblock %}

{% block content %}
  <div id="profile">
    <h2>{{ profile1.name }} projected onto {{ profile2.name }}</h2>
  </div>
  <div>
    <h3>likes</h3>
    <ul>
      {% for like in projected_likes %}
      <li>
        <a href="/p/{{ like.id }}/">{{ like.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <h2>for comparison</h2>
    <h3>{{ profile1.name }}'s likes</h3>
    <ul>
      {% for like in profile1.likes %}
      <li>
        <a href="/p/{{ like.id }}/">{{ like.name }}</a>
      </li>
      {% endfor %}
    </ul>
    <h3>{{ profile2.name }}'s likes</h3>
    <ul>
      {% for like in profile2.likes %}
      <li>
        <a href="/p/{{ like.id }}/">{{ like.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
